<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Chinstrap</h1>
    <p>Experiments with Twitter.</p>
    <a type="button" class="btn btn-lg btn-default" id="twitterLogin"><i class="fa fa-twitter"></i> Log in with Twitter</a>
    <script>
      $(document).ready(function() {
        $("#twitterLogin").click(function() {
          $.post('http://api.twitter.com/oauth/request_token', {oauth_callback: 'http://www.google.com'}, function(data) {
            console.log(data);
          });
        });
      });
    </script>
  </div>
</div>
<div class="container">
  <p>Other stuff will happen here.</h>
</div>


</body>
</html>
